{% extends 'base.html' %}

{% block content %}
    <p>修改主机信息</p>
    <div id="info_input" style="width:480px;text-align: right;">
        <form method="post">
            主机角色：
            <select name="role" style="width:154px" required>
            <option value="{{ host.role }}">{{ host.role }}</option>
            {% for role in roles %}
                {% if role != host.role %}
                <option value="{{ role }}">{{ role }}</option>
                {% endif %}
            {% endfor %}
            </select><br>
       <!--input type="text" name="role" autocomplete="off" required value="{{ host.role }}"><br-->
        主机ip：   <input type="text" name="ip" style="width: 150px" autocomplete="off" required value="{{ host.ip }}"><br>
        ssh账号：  <input type="text" name="ssh_user" style="width: 150px" autocomplete="off" required value="{{ host.ssh_user }}"><br>
        ssh密码：  <input type="password" name="ssh_passwd" style="width: 150px" autocomplete="off" required value="{{ host.ssh_passwd }}"><br>
        ssh端口：  <input type="text" name="ssh_port" style="width: 150px" autocomplete="off" required value="{{ host.ssh_port }}"><br>
        http账号： <input type="text" name="http_user" style="width: 150px" autocomplete="off" required value="{{ host.http_user }}"><br>
        http密码： <input type="password" name="http_passwd" style="width: 150px" autocomplete="off" required value="{{ host.http_passwd }}"><br>
        http端口： <input type="text" name="http_port" style="width: 150px" autocomplete="off" required value="{{ host.http_port }}"><br>
        <input class="btn" type="submit" name="submit" value="更新">
        </form>
    </div>
{% endblock %}